In [1]:
import numpy as np
import pandas as pd

# Series(Seriler)

In [3]:
benimSozlugum = {"Yusuf" : 23, "Muhammet" : 24, "Ali" : 30}

In [6]:
pd.Series(benimSozlugum)

Yusuf       23
Muhammet    24
Ali         30
dtype: int64

In [8]:
isimListesi = ["Yusuf", "Muhammet", "Ali"]
yasListesi = [23,24,30]

In [9]:
pd.Series(yasListesi)

0    23
1    24
2    30
dtype: int64

In [11]:
pd.Series(yasListesi,isimListesi)
#pd.Series(data,index)

Yusuf       23
Muhammet    24
Ali         30
dtype: int64

In [12]:
numpyDizisi = np.array([23,24,30])

In [13]:
numpyDizisi

array([23, 24, 30])

In [14]:
pd.Series(numpyDizisi)

0    23
1    24
2    30
dtype: int32

In [15]:
pd.Series(numpyDizisi, isimListesi)

Yusuf       23
Muhammet    24
Ali         30
dtype: int32

In [17]:
pd.Series(["Atil", "Yusuf", "Osman"] , [1,2,3])

1     Atil
2    Yusuf
3    Osman
dtype: object

In [18]:
yarismaSonucu1 = pd.Series([10,5,1], ["Atil", "Yusuf", "Osman"])
yarismaSonucu1

Atil     10
Yusuf     5
Osman     1
dtype: int64

In [19]:
yarismaSonucu2 = pd.Series([20,10,8], ["Atil", "Yusuf", "Osman"])
yarismaSonucu2

Atil     20
Yusuf    10
Osman     8
dtype: int64

In [20]:
yarismaSonucu2["Atil"]

20

In [21]:
sonSonuc = yarismaSonucu1 + yarismaSonucu2

In [22]:
sonSonuc

Atil     30
Yusuf    15
Osman     9
dtype: int64

In [23]:
farkliSeries = pd.Series([20,30,40,50], ["a", "b", "c", "d"])

In [24]:
farkliSeries2 = pd.Series([15,10,5,7], ["a", "c", "e", "f"])

In [25]:
farkliSeries

a    20
b    30
c    40
d    50
dtype: int64

In [26]:
farkliSeries2

a    15
c    10
e     5
f     7
dtype: int64

In [28]:
farkliSeries + farkliSeries2

a    35.0
b     NaN
c    50.0
d     NaN
e     NaN
f     NaN
dtype: float64